footer{
    background-color: var(--footer-bg-color);
    padding: 2rem 20%;
}

.links-container{
    justify-content: space-between;
}

.links-container li{
    list-style-type: none;
    margin: .25rem 0;
}

.links-container li a{
    text-decoration: none;
    color: white;
}

.links-container li a:hover{
    text-decoration: underline;
}

.links-container h4{
    color: white;
    margin-bottom: .5rem;
}

footer hr{
    margin: 1.5rem 0;
}

.social-media-container{
    justify-content: space-around;
    padding: 0 30%;
}

.social-media-container img{
    filter: invert(97%) sepia(98%) saturate(14%) hue-rotate(55deg) brightness(107%) contrast(100%);
}

.footer-register-container{
    display: flex;
    justify-content: center;
}

.footer-register-button{
    background-color: white;
    border-radius: 40px;
    padding: .5rem 2rem;
    margin: 0 1rem;
    text-decoration: none;
}

.footer-register-button:hover{
    color: var(--orange);
}

.footer-register-block span, .footer-register-block a{
    color: white;
    font-size: 1.5rem;
    font-weight: 800;
}

.footer-register-block a{
    color: var(--footer-register-a-color);
    transition: all .17s ease;
}

.copyright{
    font-size: .75rem;
    color: white;
    margin: 1rem 0;
    text-align: right;
}