:root{
    --dark-blue: #023047;
    --blue: #219EBC;
    --light-blue: #8ECAE6;
    --yellow: #FFB703;
    --orange: #FB8500;
    --purple: #1d0643;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

/* Container */
.container{
    justify-content: center;
    margin: 0 2rem;
    padding: 200px 0;
}

.container form{
    min-width: 200px;
    max-width: 800px;
    margin: auto;
}

.container h3{
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.container label,
.container input:not([type='submit']){
    padding: .1rem;
    margin-bottom: .5rem;
    width: 100%;
}

.container input[type='submit']{
    padding: .1rem;
    margin: .5rem 0;
    width: 100%;
    font-size: 1rem;
}

.container select{
    padding: .1rem;
    margin-bottom: .5rem;
    width: 100%;
}

.container a{
    margin: .25rem 0;
    font-size: .8rem;
}

.container span{
    margin: .5rem 0;
    width: 100%;
}

.container table{
    background-color: white;
    margin: 1rem auto;
    border: 2px solid black;
    border-collapse: collapse;
    width: 100%;
    letter-spacing: 1px;
}

.flex{
    display: flex;
}

.warning{
    padding: 2px;
    border-radius: 4px;
    margin: .5rem 0;
    text-align: center;
}

/* Account */
.right-account{
    display: flex;
    flex-direction: column;
}

.left-account img{
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: auto 1rem;
}

.account-container{
    justify-content: center;
}
